@font-face {
    font-family: "typewriter";
    src: url("../fonts/typewriter.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "SdGeorgiaLight";
    src: url("../fonts/Sd_Georgia_Light.ttf");
    font-style: normal;
    font-weight: normal;
}
