.text {
  font: normal  18px/18px 'SdGeorgiaLight';
}
.text__wrapper {
  @include container;
}
.text__article{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-bottom: 1px solid #e7e7e7;
  padding: 10px 0;
}
.text__name {
  margin-right: auto;
  font-weight: bold;
}
.text__wrap-inner {
  display: flex;
}
.text__author {

}
.text__date {
  color: #b2b2b2;
  font-size: 16px;
  padding-left: 10px;
}

.text__preview {
  padding-top: 20px;
  flex-grow: 1;
  &--hidden {
    display: none;
  }
}
.text__main {
  padding-top: 20px;
  &--hidden {
    display: none;
  }
}
